/* NAVBAR */

nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
}
.laps {
    color: black;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
}

.insights {
    color:#FF00BC;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
}

/* INDEX.HTML */

.titulos {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
}

.reloj {
    font-size: 100px;
    text-align: center;
    padding: 40px;
}



.center {
    text-align: center;
    align-items: center;
}


.custom-upload-btn {
    
    background-color: white; 
    border: 1px solid #FF00BC; 
    color: #FF00BC; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display:inline-block;
    font-size: 16px;
    margin-bottom: 10px; 
    cursor: pointer; 
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace; 
}

/* RACE.HTML */

.button-race {
    background-color: white; 
    border: 1px solid #FF00BC; 
    color: #FF00BC; 
    padding: 10px 10px;
    text-align: center; 
    text-decoration: none; 
    display:inline-block;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 300px;
    height: 40px; 
    cursor: pointer; 
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace; 
}

.button-driver {
    flex-wrap: wrap;
    background-color: white; 
    border: 1px solid black; 
    color: black; 
    padding: 10px 10px;
    text-align: center; 
    text-decoration: none; 
    display:inline-block;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    width: auto;
    height: 40px; 
    cursor: pointer; 
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
}
.custom-upload-btn:hover {
    background-color: #fbc0e9;
    color: black;
}

.button-race:hover {
    background-color: #fbc0e9;
    color: black;
    border: 1px solid black; 
}

.button-driver:hover {
    background-color: #fbc0e9;
    color:  #FF00BC;
    border: 1px solid #FF00BC;
}

.top-margin {
    margin-top: 35px;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.drivers_container {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    flex-wrap: wrap;
}

.buttons_container {
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.driver_title {
    padding: 10px 10px;
    color: black;
    font-size: 35px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}