<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lap-insights</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
</head>
    {%block head%}
    {%endblock%}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="brand-text laps">lap<span class="brand-text insights"> insights</span></a></li>
        </ul>
    </nav>
</body>
<main>
    {%block main%}
    {%endblock%}
</main>
</html>