{%extends "base.html"%}
{%block main%}
<body>
    <table class = "container">
    <tr>
        <td><button class = "button-race">race</button></td>
    
    </tr> 
    </table> 
    <table class = "container">
        <tr>
        
    
        <td><button class = "button-race" >absolute best lap</button></td>

        <td><button class = "button-race" >best lap per lap</button></td>

        <td><button class = "button-race" >best lap per driver</button></td>

        </tr>
    </table>  
    <table class = "container">
        <tr>
    
            <td><button class = "button-race" >absolute mean</button></td>
    
            <td><button class = "button-race" >mean per lap</button></td>
        
            <td><button class = "button-race" >mean per driver</button></td>
    
        </tr>

    </table>
    
    <div class = "drivers_container">
        <p class = "driver_title">Drivers</p>
    </div>
    <div class = "buttons_container">
        {%for driver in drivers_list%}
        <button class = "button-driver">{{driver}}</button>
        {%endfor%}

    </div>   
    <!-- <div class="d-flex justify-content-center">
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    
    
</body>
{%endblock%} 


